$grey = #b4b4b4

$button-height = 40px
$border-radius = 2px
$error-color = red
$bg-color = #efefef

// component settigs
$chip-height-sm = 16px
$chip-height = 28px
$chip-height-lg = 40px

@import '~Yolo/src/stylus/app.styl'
